*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_container{
    display: flex;
    justify-content: center;
}
.product{
    width: 70%;
    border: 2px solid black;
    margin: 30px;
}
.sidebar{
    width: 20%;
}
.productName{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}
.active{
    background-color: rgb(240, 136, 136);
    color: white;
    border-radius: 10px;
    padding: 10px;
}