.data{
    width: 330px;
    min-height: 120px;
    padding-block: 12px;
    margin-block: 10px;
    background-color: rgb(192, 91, 91);
    /* box-shadow: inset 2px 2px 15px 1px rgb(155, 142, 46); */
    box-shadow: inset 2px 2px 15px 1px rgb(72, 22, 22);
}
.item{
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    color: rgb(40, 7, 96);
    font-size: 17.5px;
}

ul{
    list-style: none;
}