.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-block: 10px; */
}
.inputorder{
    font-size: 14.5px;
    width: 250px;
    padding-inline: 9px;
    padding-block: 9.5px;
    margin-right: 10px;
    outline: none;
    border: none;
    background-color: rgb(224, 100, 100);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    box-shadow: inset 2px 2px 15px 1px rgb(72, 22, 22);
}
.inputorder::placeholder{
    color: aliceblue;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.addbtn{
    outline: none;
    border: none;
    background-color: rgb(224, 100, 100);
    padding-block: 7px;
    padding-inline: 15px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 2px 2px 15px 1px rgb(72, 22, 22);
}
.addbtn:hover{
    background-color: rgb(226, 67, 67);
}