.main{
    width: 500px;
    height: 100px;
    border: 3px solid cyan;
    text-align: center;
}

#light{
    background-color: white;
    color: black;
}

#dark{
    background-color: black;
    color: white;
}